@media screen and (max-width: 1120px) {
  .top-nav-left li {
    margin-left: 60px;
  }
  .top-nav-right li {
    margin-left: 25px;
  }
  #slider .slide-container figcaption {
    display: none;
  }
  nav ul li a {
    padding: 10px 10px;
  }
}
@media screen and (max-width: 960px) {
  body {
    font-size: 20px;
  }
  .top-nav-left li {
    margin-left: 45px;
  }
  .top-nav-right li {
    margin-left: 10px;
  }
  header #main-logo h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 880px) {
  .top-nav {
    min-height: 56px;
  }
  .top-nav .col-6 {
    display: none;
  }
  .top-nav .col-4 {
    width: 100%;
  }
  .top-nav #logo-small img {
    position: relative;
    max-width: 133px;
    margin: 0;
    z-index: 2;
  }
  nav {
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    background: none;
    border: none;
  }
  nav #mobile-menu {
    display: block;
    padding: 8px;
    cursor: pointer;
    margin-left: 90%;
  }
  nav ul {
    display: none;
    width: 100%;
  }
  nav ul li {
    display: block;
    padding: 0;
    background: url('../images/bg-nav.png') center no-repeat;
    background-size: 100% 100%;
    border-bottom: 1px solid #000;
  }
  nav ul li a {
    display: block;
    width: 100%;
  }
  .row-one-third {
    margin: 0;
  }
  .row-one-third .col-one-third {
    width: 50%;
  }
  .row-one-third .col-one-third.last-form {
    width: 70%;
    float: none;
    margin: auto;
    clear: both;
  }
}
@media screen and (max-width: 768px) {
  #slider .slide-container {
    margin-bottom: 30px;
  }
  #content {
    padding: 0 0 40px;
  }
}
@media screen and (max-width: 640px) {
  #slider .slide-container img {
    height: 250px;
    width: auto;
  }
  .row-one-third {
    margin: 0;
  }
  .row-one-third .col-one-third {
    width: 100%;
  }
  .row-one-third .col-one-third .article-content {
    height: auto !important;
  }
  .row-one-third .col-one-third.last-form {
    width: 100%;
    float: left;
    margin: none;
    clear: none;
  }
  .dropdown > .form-control {
    display: none !important;
  }
  select {
    display: block !important;
  }
  .last-article #datapicker .col-8,
  .last-article #datapicker .col-4 {
    width: 33.33333333%;
    margin-top: 10px;
  }
  .last-article #datapicker .col-8 select,
  .last-article #datapicker .col-4 select {
    width: 100%;
  }
  .last-article .col-8 {
    width: 100%;
  }
  .last-article .col-4 {
    width: 50%;
  }
}
@media screen and (max-width: 350px) {
  header #main-logo h1 {
    padding: 40px 0 0;
    font-size: 1.5em;
  }
  header #main-logo > span {
    padding-bottom: 65px;
  }
  header #overview-social-tool > div {
    padding: 5px 13px 4px 19px;
  }
}
