.row {
  margin-left: -10px;
  margin-right: -10px;
}
.row-one-third {
  margin-left: -20px;
  margin-right: -20px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-one-third,
.offset-0,
.offset-1,
.offset-2,
.offset-3,
.offset-4,
.offset-5,
.offset-6,
.offset-7,
.offset-8,
.offset-9,
.offset-10,
.offset-11,
.offset-12,
.offset-13,
.offset-14,
.offset-15,
.offset-16 {
  float: left;
  position: relative;
  min-height: 1px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13,
.col-14,
.col-15,
.col-16,
.col-one-third {
  padding-left: 10px;
  padding-right: 10px;
}
.col-16 {
  width: 100%;
}
.col-15 {
  width: 93.75%;
}
.col-14 {
  width: 87.5%;
}
.col-13 {
  width: 81.25%;
}
.col-12 {
  width: 75%;
}
.col-11 {
  width: 68.75%;
}
.col-10 {
  width: 62.5%;
}
.col-9 {
  width: 56.25%;
}
.col-8 {
  width: 50%;
}
.col-7 {
  width: 43.75%;
}
.col-6 {
  width: 37.5%;
}
.col-5 {
  width: 31.25%;
}
.col-4 {
  width: 25%;
}
.col-3 {
  width: 18.75%;
}
.col-2 {
  width: 12.5%;
}
.col-1 {
  width: 6.25%;
}
.col-one-third {
  width: 33.33333333%;
  padding-left: 20px;
  padding-right: 20px;
}
.offset-16 {
  margin-left: 100%;
}
.offset-15 {
  margin-left: 93.75%;
}
.offset-14 {
  margin-left: 87.5%;
}
.offset-13 {
  margin-left: 81.25%;
}
.offset-12 {
  margin-left: 75%;
}
.offset-11 {
  margin-left: 68.75%;
}
.offset-10 {
  margin-left: 62.5%;
}
.offset-9 {
  margin-left: 56.25%;
}
.offset-8 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 43.75%;
}
.offset-6 {
  margin-left: 37.5%;
}
.offset-5 {
  margin-left: 31.25%;
}
.offset-4 {
  margin-left: 25%;
}
.offset-3 {
  margin-left: 18.75%;
}
.offset-2 {
  margin-left: 12.5%;
}
.offset-1 {
  margin-left: 6.25%;
}
.offset-0 {
  margin-left: 0;
}
.text-up {
  text-transform: uppercase !important;
}
.text-low {
  text-transform: lowercase !important;
}
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.justify {
  text-align: justify !important;
}
.inline {
  display: inline-block;
}
.fluid-block {
  display: inline-block;
  width: 100%;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.clear:before,
.clear:after,
.row:before,
.row:after,
.row-one-third:before,
.row-one-third:after {
  content: " ";
  display: table;
}
.clear:after,
.row:after,
.row-one-third:after {
  clear: both;
}
body {
  min-width: 320px;
  padding: 0 10px;
  background: url('../images/bg-main.png');
  font-size: 22px;
  overflow: hidden;
  overflow-y: scroll;
  font-family: 'Montserrat';
}
body .last-article {
  padding: 0 !important;
  border: none !important;
  background: transparent !important;
}
.top-nav {
  display: block;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  overflow: hidden !important;
  cursor: default;
}
.top-nav #logo-small img {
  width: 100%;
  max-width: 193px;
  margin: auto;
}
.top-nav ul {
  padding: 10px 0;
  font-size: 0;
}
.top-nav-left li,
.top-nav-right li {
  display: inline-block;
  font-family: 'Voltaire';
  font-size: 20px;
  color: #BEB9AF;
}
.top-nav-left li:first-child,
.top-nav-right li:first-child {
  margin: 0;
}
.top-nav-left li {
  margin-left: 80px;
}
.top-nav-right li {
  margin-left: 45px;
}
.top-nav-left a,
.top-nav-right a {
  font-size: .7em;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.top-nav-left a:hover,
.top-nav-right a:hover {
  color: #fff;
}
header {
  position: relative;
  background: #000;
  margin-left: -10px;
  margin-right: -10px;
}
header #main-logo {
  margin-top: -20px;
  background: url('../images/bg-header.png') center no-repeat;
  background-size: 100% 100%;
  color: #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  text-align: center !important;
  cursor: default;
}
header #main-logo h1 {
  padding: 60px 0 0;
  font-family: 'Voltaire';
  font-size: 3em;
  text-transform: uppercase !important;
  display: inline-block;
  width: 100%;
}
header #main-logo h1 span {
  font-size: 1.3em;
}
header #main-logo > span {
  padding-bottom: 85px;
  font-family: 'Montserrat';
  font-size: 1.2em;
  text-transform: uppercase !important;
  display: inline-block;
  width: 100%;
}
header #overview-social-tool {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 100;
}
header #overview-social-tool > div {
  padding: 10px 18px 9px 24px;
  border: 1px solid #000000;
  border-bottom: none;
  background: url('../images/bg-nav.png') 60% no-repeat;
  background-size: auto 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  cursor: default;
}
header #overview-social-tool > div span {
  color: #a55c21;
  margin: 0 3px;
  font-size: 14px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
header #overview-social-tool > div span:hover {
  color: #ff8c19;
}
header #overview-social-tool > div .icon-arrows-cw {
  position: relative;
  bottom: 2px;
}
nav {
  background: url('../images/bg-nav.png') center no-repeat;
  background-size: 100% 100%;
  border: 1px solid #000000;
  color: #fff;
  cursor: default;
  text-align: center !important;
  text-transform: uppercase !important;
  margin-left: -10px;
  margin-right: -10px;
}
nav #mobile-menu {
  display: none;
}
nav ul {
  border-left: 1px solid #000000;
  font-size: 0;
  display: inline-block;
}
nav ul li {
  padding: 12px 0;
  border-right: 1px solid #000000;
  display: inline-block;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
nav ul li:hover {
  background-color: rgba(255, 170, 26, 0.12);
}
nav ul li a {
  padding: 10px 35px;
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}
#slider-wrapper {
  font-size: 0;
  margin-left: -10px;
  margin-right: -10px;
}
#slider-wrapper ul.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
#slider-wrapper ul.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100% !important;
  left: 0;
  top: 0;
}
#slider-wrapper ul.rslides li img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
#slider-wrapper ul.rslides li aside {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  font-size: 20px;
}
#slider-wrapper ul.rslides li aside .slider-text-banner {
  display: block;
  max-width: 655px;
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  margin: auto;
  background: url('../images/bg-banner.png') repeat-x;
  background-size: 1px 100%;
}
#slider-wrapper ul.rslides li aside .slider-text-banner .slider-text-banner-inner {
  padding: 20px 20px 30px;
  box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.3), inset 0 -10px 0px 1px rgba(205, 205, 205, 0.5);
  font-family: 'Montserrat';
  font-weight: 100;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  text-align: center !important;
  background: url('../images/bg-banner.png') repeat-x;
  background-size: 1px 100%;
}
#slider-wrapper ul.rslides li aside .slider-text-banner .slider-text-banner-inner h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #454545;
  font-size: 2.5em;
  font-weight: 100;
  line-height: .75em;
  letter-spacing: 15px;
  color: #009999;
  text-transform: uppercase !important;
}
#slider-wrapper ul.rslides li aside .slider-text-banner .slider-text-banner-inner p {
  font-size: .6em;
  letter-spacing: 1px;
  font-weight: 600;
  line-height: 1.6em;
  color: #366;
}
#slider-wrapper ul.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
#content {
  border-top: 5px solid #2f555f;
  padding: 60px 0 70px;
  margin-left: -10px;
  margin-right: -10px;
}
#content .wrapper {
  display: block;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  overflow: hidden !important;
}
#content .wrapper #fb-container .row {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c6c6c6;
}
#content .wrapper #fb-container .row img {
  width: 100%;
}
#content .wrapper #fb-container .row .fb-container-inner {
  margin-top: 20px;
  color: #6A6A6A;
}
#content .wrapper #fb-container .row .fb-container-inner #like,
#content .wrapper #fb-container .row .fb-container-inner #like + span {
  font-size: .6em;
}
#content .wrapper #fb-container .row .fb-container-inner #like {
  padding: 4px 10px 4px 30px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background: url('../images/fb-like.png') 4px 3px no-repeat, #c7c7c7;
  background-size: 30%;
  color: #000;
}
#content .wrapper #fb-container .row .fb-container-inner p {
  font-size: .6em;
}
#content .wrapper #fb-container .row .fb-container-inner img {
  padding-top: 10px;
}
#content .wrapper .col-one-third .article-header {
  padding: 5px 0;
  background: url('../images/bg-article.png'), #512323;
  font-family: 'Voltaire';
  text-align: center !important;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  text-transform: uppercase !important;
}
#content .wrapper .col-one-third .article-header h2 {
  min-width: 180px;
  padding: 5px 10px 4px;
  background-color: #512323;
  font-weight: 100;
  font-size: 1.3em;
  line-height: .9em;
  color: #fff;
  display: inline-block;
}
#content .wrapper .col-one-third .article-content {
  height: 530px;
  padding: 10px 20px 10px;
  border: 2px solid #868686;
  border-top: none;
  background-color: #fff;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}
#content .wrapper .col-one-third .article-content .fb-page,
#content .wrapper .col-one-third .article-content .fb-page span,
#content .wrapper .col-one-third .article-content .fb-page iframe[style] {
  width: 100% !important;
}
#content .wrapper .col-one-third .article-content .article-content-post {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #CECECE;
}
#content .wrapper .col-one-third .article-content .article-content-post h3 {
  margin-bottom: 5px;
  color: #124748;
}
#content .wrapper .col-one-third .article-content .article-content-post span,
#content .wrapper .col-one-third .article-content .article-content-post p {
  color: #6A6A6A;
}
#content .wrapper .col-one-third .article-content .article-content-post span {
  display: block;
  font-size: .65em;
  margin-bottom: 10px;
}
#content .wrapper .col-one-third .article-content .article-content-post p {
  font-size: .6em;
  line-height: 1.5em;
}
#content .wrapper .col-one-third .article-content .article-content-post.first-post {
  padding-top: 15px;
  border-top: none;
}
#content .wrapper .col-one-third .article-content .form-group {
  padding-top: 20px;
}
#content .wrapper .col-one-third .article-content .form-group label {
  margin-bottom: 5px;
  color: #124748;
  letter-spacing: -0.5px;
  font-size: .55em;
  color: #6A6A6A;
}
#content .wrapper .col-one-third .article-content .form-group input,
#content .wrapper .col-one-third .article-content .form-group .dropdown p,
#content .wrapper .col-one-third .article-content .form-group .dropdown ul {
  width: 100%;
  padding: 2px 5px 1px;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  background-color: #fff;
  font-size: .9em;
  font-family: 'Montserrat' !important;
  font-weight: 100 !important;
}
#content .wrapper .col-one-third .article-content .dropdown {
  position: relative;
  padding-top: 0;
  cursor: pointer;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown p {
  padding: 4px 5px 3px;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown > p:after {
  display: block;
  position: absolute;
  right: 1px;
  top: 6px;
  width: 16px;
  height: 16px;
  z-index: 10;
  font-family: 'fontello';
  color: #124748;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown ul,
#content .wrapper .col-one-third .article-content .dropdown .dropdown li[data-value="-1"] {
  display: none;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown ul {
  height: 250px;
  overflow-y: scroll !important;
  position: absolute;
  left: 0;
  top: 29px;
  z-index: 1;
  padding: 0;
  font-size: .8em;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown li {
  padding: 4px 5px;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#content .wrapper .col-one-third .article-content .dropdown .dropdown li:hover {
  background: #E8EAF2;
}
#content .wrapper .col-one-third .article-content .g-recaptcha {
  margin-top: 14px;
}
#content .wrapper .col-one-third .captcha-generator {
  width: 100%;
  margin-top: 20px;
}
#content .wrapper .col-one-third .captcha-generator .input-area td {
  padding-top: 10px;
}
#content .wrapper .col-one-third .captcha-generator td {
  width: 50%;
  vertical-align: middle;
  letter-spacing: -0.5px;
  font-size: .55em;
  color: #6A6A6A;
}
#content .wrapper .col-one-third .captcha-generator td a:hover {
  text-decoration: underline;
}
#content .wrapper .col-one-third .captcha-generator td img {
  width: 100%;
  margin: 0;
  float: right !important;
}
#content .wrapper .col-one-third .captcha-generator td input {
  width: 100%;
  padding: 2px 5px 1px;
  border: 2px solid #D9D9D9;
  border-radius: 4px;
  background-color: #fff;
  font-size: 1.65em;
  font-family: 'Montserrat' !important;
  font-weight: 100 !important;
}
#content .wrapper .col-one-third .captcha-generator td:first-child {
  padding-right: 10px;
}
#content .wrapper .col-one-third .service-button {
  margin-top: 30px;
  padding-bottom: 30px;
}
#content .wrapper .col-one-third .service-button input {
  width: 150px;
  padding: 8px 0 9px;
  border-radius: 5px;
  font-family: 'Montserrat' !important;
  font-size: .6em;
  font-weight: 100 !important;
  color: #fff;
  background: #3AB1B0;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5), inset 0 20px 15px -5px rgba(69, 208, 206, 0.99);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#content .wrapper .col-one-third .service-button input:hover {
  background: #f5f8ff;
  color: #43C7C8;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5), inset 0 -15px 15px -5px rgba(0, 0, 0, 0.15);
}
#content .wrapper .col-one-third .service-button input:active {
  background: #E8EAF2;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.5), inset 0 -15px 15px -5px rgba(0, 0, 0, 0.15);
}
